source/state-machine/sfn-process-chunk.json
{
  "Comment": "AWS Step Functions example for batch processing",
  "StartAt": "Read File",
  "States": {
    "Read File": {
      "Type": "Task",
      "ResultPath": "$.fileContents",
      "Resource": "${ReadFileFunctionArn}",
      "Next": "Process messages"
    },
    "Process messages": {
      "Type": "Map",
      "ItemsPath": "$.fileContents",
      "ResultPath": "$.input.validatedData",
      "OutputPath": "$.input",
      "Parameters": {
        "MessageNumber.$": "$$.Map.Item.Index",
        "MessageDetails.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "Validate Data",
        "States": {
          "Validate Data": {
            "Type": "Task",
            "Resource": "${ValidateDataFunctionArn}",
            "InputPath": "$.MessageDetails",
            "ResultPath": "$.MessageDetails.validatedResult",
            "Next": "Post to SQS",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.MessageDetails.error-info",
                "Next": "Store Error Record"
              }
            ]
          },
          "Post to SQS": {
            "Type": "Task",
            "Resource": "${PostToSqsFunctionArn}",
            "InputPath": "$.MessageDetails.validatedResult",
            "ResultPath": "$.postToSqsResponse",
            "End": true,
            "Parameters": {
              "SqsQueueArn": "${PostToSqsFunctionArn}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          },
          "Store Error Record": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "InputPath": "$.MessageDetails",
            "OutputPath": "$.MessageDetails",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${ErrorTableName}",
              "csvInputId.$": "$.splitOutput.csvInputId",
              "Item": {
                "_id": {
                  "S.$": "$._id"
                },
                "airline": {
                  "S.$": "$.airline"
                },
                "flightNumber": {
                  "S.$": "$.flightNumber"
                },
                "flightDate": {
                  "S.$": "$.flightDate"
                },
                "message": {
                  "S.$": "$.message"
                },
                "version": {
                  "S.$": "$.version"
                },
                "error": {
                  "S.$": "$.error-info.Error"
                },
                "cause": {
                  "S.$": "$.error-info.Cause"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 20,
                "MaxAttempts": 5,
                "BackoffRate": 10
              }
            ],
            "End": true
          }
        }
      },
      "End": true
    }
  }
}